

.chatroom-head {
  padding: 0 1rem 0.5rem;

  &__info {
    display: flex;

    & > * + * {
      padding-left: 0.6rem;
    }
  }

  &__main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-size: 0.85rem;
    font-weight: 700;
    color: #4d4d4d;

    & > span + span {
      margin-left: 0.3rem;
    }

    &-sub {
      color: #737373;
      font-weight: 400;
    }
  }

  &__icons {
    color: #737373;
    font-size: 0.8rem;
    margin-top: 0.4rem;
    padding-left: 0.2rem;

    & > span {
      cursor: pointer;
      padding-right: 0.5rem;
    }

    & > span + span {
      padding-left: 0.5rem;
      border-left: 1px solid #999999;
    }
  }

  &__options {
    display: flex;
    justify-content: center;
    align-items: center;

    & > * + * {
      margin-left: 0.5rem;
    }
  }

  &__option {
    cursor: pointer;
    border-radius: 50%;
    background-color: #a0b3c3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #606b75;
    padding: 0.4rem;

    & > * {
      width: 1rem;
      height: 1rem;
    }
  }
}