@import 'style/color.scss';
@import 'components/organism/template/ContentTemplate/ContentTemplate.scss';

.user-card {
  cursor: pointer;
  user-select: none;
  display: flex;
  width: 100%;
  padding: 0.7rem 0;
  padding-left: $term;

  &:hover {
    background-color: #f2f2f3;
  }
  &:focus {
    outline: none;
    background-color: $navbar-color;
  }

  &__column {
    & + & {
      margin-left: 0.8rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.75rem;
    line-height: normal;
  }

  &__head {
    display: flex;
    flex-direction: row;
  }

  &__title {
    display: block;
    max-width: 10rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8rem;
    font-weight: 700;
  }

  &__subtitle {
    color: #999999;
    margin-left: 0.3rem;
  }

  &__desc {
    margin-top: 0.5rem;
    overflow-y: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
    color: #666666;
  }

  &__additional {
    cursor: pointer;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1rem;
    color: #a6a6a6;
    word-break: break-all;
  }
}
