
$navbar-color: #ececed;
$base-gray-light: #bfbfbf;
$base-gray: #737373;
$main-font-color: #262626;
$red-light: #ff5442;

$main-color: #7da0ce;
$main-color-light: #c0f6fb;
$main-color-row: #e0ffff;

$snow-top-bold: #556791;
$snow-high-bold: #6275a3;
$snow-bold: #677bac;
$snow-blue: #d8e9f3;
// $snow-blue: #4F6FD2;
