
.name-tag {
  display: flex;
  align-items: center;
  color: #282828;
  font-size: 0.8rem;
  border-radius: 28px;
  background-color: #f1d88e;
  padding: 0.4rem 0.6rem;

  & > * + * {
    margin-left: 0.3rem;
  }

  & > span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.name-tag__highlight {
  background-color: #e3b11c;
}
