@import 'style/color.scss';

.chatroom-input {
  display: flex;
  background-color: #fff;
  padding: 0.8rem 1rem 1rem;
  min-height: auto;

  &__column:nth-child(2) {
    flex: 1;
    padding: 0 0.5rem;
  }

  &__icon {
    cursor: pointer;
    font-size: 1.25rem;
    color: #cccccc;

    &:hover {
      color: #8c8c8c;
    }

    & + & {
      margin-left: 0.7rem;
    }

    & > * {
      cursor: pointer;
    }
  }

  &__messageArea {
    width: 100%;
    min-height: 4rem;
    resize: none;
    padding: 0;
    border: none;
    outline: none;
    background-color: inherit;
  }

  &__btn {
    cursor: pointer;
    outline: none;
    border-radius: 3px;
    padding: 0.4rem 0.8rem;
    color: #fff;
    border: none;
    background-color: rgba($snow-bold, 0.85);
  }

  &__btn-lock {
    color: #cccccc;
    background-color: $snow-bold;
  }
}

#inputImg {
  width: 0px;
  height: 0px;
}