@import 'style/color.scss';
@import 'style/font.scss';

.sign-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem 3.8rem 3rem;
  height: 100%;
  background-color: $main-color;

  &__body {
    & > * + * {
      margin-top: 1rem;
    }
  }

  &__logo-title {
    font-family: $Pacifico;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 700;
    color: #fafafa;
    line-height: normal;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;

    & > img {
      width: 8rem;
    }
  }

  &__foot {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    color: rgba(#011418, 0.8);

    & > span + span {
      border-left: 1px solid #737373;
    }

    & > span {
      cursor: pointer;
      padding: 0 0.5rem;
      
      &:hover {
        font-weight: 700;
        color: #000000;
      }
    }
  }
}
