
.dropdown-menu {
  outline: none;
  display: flex;
  flex-direction: column;

  &__hidden {
    position: relative;
  }
}

.hidden-menu {
  background-color: #fff;
  border: 1px solid #4d4d4d;
  min-width: 8.5rem;
  position: absolute;
  top: 0.3rem;
  right: 0;
  display: none;
  padding: 0.3rem 0;

  // &:focus {
  //   display: block;
  // }
}
