@import 'style/color.scss';

.chatroom-main {
  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;
  height: 100%;
  background-color: $snow-high-bold;

  &__messages {
    flex: 1;
    background-color: $snow-bold;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0.3rem;
    }
    &::-webkit-scrollbar-thumb {
      cursor: pointer;
      background: #8595bd;
      border-radius: 26px;
    }
  }
}
