
.friend-list {

  &__head {
    padding: 0 1rem;
    color: #7f7f7f;
  }

  &__title {
    font-weight: 700;
    font-size: 0.75rem;
    padding: 0.5rem 0.2rem;
    border-top: 1px solid #f2f2f2;
    
    & > span + span {
      margin-left: 0.5rem;
    }
  }

  &__empty {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;

    & > span + span {
      margin-top: 0.6rem;
    }

    & > span {
      text-align: center;
      font-size: 0.8rem;
      color: #cccccc;
    }
  }

  &__item-option.remove {
    transition: 0.2s color ease-in-out;
    
    &:hover {
      color: tomato;
    }
  }
}
