
.avatar-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.75rem;
  height: 2.75rem;
  overflow: hidden;

  &__single {
    & > * {
      margin: 0 auto;
    }
  }

  &__duo {
    width: 100%;
    height: 100%;
    position: relative;

    & > * {
      &:nth-child(1) {
        position: absolute;
        top: 0;
        left: 0;
      }
      &:nth-child(2) {
        position: absolute;
        top: 35%;
        left: 34%;
      }
    }
  }

  &__multi {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    & > * {
      margin-top: 0.05rem;
    }
  }
}
